/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 31, 2016, 1:57:13 PM
    Author     : Sachi
*/
.article-heading{
    text-align: center;
    text-decoration: underline;
}

.center-image{
    text-align: center;
}

.right-image{
    text-align: right;
}
.left-image{
    text-align: left;
}
.inline-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.center-heading{
    text-align: center;
}
.right-heading{
    text-align: right;
}
h1.article-link a{
    color: #484848;
}
h1.article-link a:hover{
    color: #989898;
    text-decoration: none;
}

#share-buttons img {
width: 50px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}

.share-buttons{
    display: block;
    text-align:center;
}
.share-caption p{
    margin-top:30px;
    text-align: center;
    /*color: blue;*/
    font-size: 20px;
    font-weight: bolder;
}
.facebook-share button{
    background-color: blue;
}
.ff{
    height: 30px;
}

#other-links{
    font-weight: bold;
}

#other-links img{
    border: 3px outset #c9c9c9;
    height:30px;
}