@font-face{
    font-family: TektonPro;
    src: url(fonts/TektonPro-Regular.otf);
}

html,body{
    background: #c9c9c9;
}
/**************************************   header styles   ***************************************/
#page-header{
    /*background: url(images/Top-section.png);*/
    /*height: 159px;*/
    height: auto;
    background: #a4a4a4;
    width:100%;
}
#page-header div ul {
    display: inline-block;
    float: right;
    list-style: none;
    margin: 0;
    padding: -12px 0;
    width: auto;
    height: fit-content;
}
/* Login button and create account button */
#page-header div ul#navigation1 li{
    height: 44px;
    float: left;
    margin-bottom: 20px;
    padding: 14px 0;
    width: auto;
}


#page-header div ul#navigation1 li a {
    color: #ffffff;
    display: block;
    font-family: Verdana;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
    width: auto;
    border-right:1px solid white;
}
#page-header div ul#navigation1 li:last-child a{
    border-right:none;
}
/*Header link bar*/ 
#page-header div ul#navigation2 li{
    height: 44px;
    float: left;
    margin-bottom: 20px;
    margin-top:-16px;
    padding: 14px 0;
    width: auto;
}
#page-header div ul#navigation2 li:hover{
    background-color: #858585;
    color: #ffffff;
    text-decoration: none;
}

#page-header div ul#navigation2 li a {
    color: #ffffff;
    display: block;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: auto;
    border-right:1px solid white;
}
#page-header div ul#navigation2 li:last-child a{
    border-right:none;
}


#page-header img{
    display: block;
    margin-left: auto;
    margin-right: auto ;
    margin-top:-16px;
}

/**************************************   home page styles   ***************************************/
#body-middle-title{
    text-align: center;
    margin-top: 40px;
    height: 21px;
    color: #008463;
    font: 700 29.17px TektonPro;
    text-shadow: 0px 0px 22.08px rgba(249, 250, 251, 0.75);
}
#desc{
    height:205px;
    background: url(images/Text-background---left.png) center no-repeat;
}
#desc p{
    vertical-align: middle;
    text-align: center;
    color: #fcfdfb;
    font: 400 16.67px / 20.833px TektonPro;
}
#side-topic{
    margin-top:20px;
    color: #036ab1;
    font: 400 33.33px 'Monotype Corsiva';
    text-align: center;
    /*margin-left: 219px;*/
}

#lotus{
    text-align: center;
    margin-top: 218px;
}

/**************************************   footer styles   ***************************************/
#page-footer{
    margin-top:80px;
    height: 100px;
    /*background: url(images/Lower-section.png);*/
    background: #484848;
}
#page-footer p{
    color: #fafafa;
    font: 400 12.5px Calibri;
    text-align: center;
    margin-top:50px;
}

/**************************************   about/article pages styles   ***************************************/

.article-body{
    background: white;
    height: auto;
}
/**************************************   dropdown menu   ***************************************/
.dropbtn {
    /*background-color: #4CAF50;*/
    /*color: white;*/
    /*    padding: 16px;
        font-size: 16px;
        border: none;*/
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: #d9d9d9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right:0;
    border: none;
}

#page-header div ul#navigation2 li .dropdown-content a {
    min-height: 30px;
    color: #484848;
    padding: 12px 16px;
    text-transform: none;
    display: block;
    border: none;
}

#page-header div ul#navigation2 li .dropdown-content a:hover {
    color: #484848;
    background-color: white;
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1; 
}

.dropdown:hover .dropbtn {
    /*background-color: #3e8e41;*/
}